<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
        android:name=".vpn.DebugStarterReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.example.galggg.DEBUG_START_VPN" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.example.galggg.DEBUG_STOP_VPN" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
